<div class="alunno" *ngIf="utente.type===1">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Salve {{utente.nome}} {{utente.cognome}}</mat-card-title>
      <mat-card-subtitle>{{utente.email}}</mat-card-subtitle>
    </mat-card-header>
    <span></span>
    <mat-card style="padding-top: 65px; padding-left: 15px;align-items: center;">
      <mat-card-subtitle>Informazioni Personali</mat-card-subtitle>
      <mat-card-content><p> Nome:  </p><p>{{utente.nome}}</p></mat-card-content>
      <mat-card-content><p>Cognome:  </p><p>{{utente.cognome}}</p></mat-card-content>
      <mat-card-content><p>email:  </p><p>{{utente.email}}</p></mat-card-content>

    </mat-card>
  </mat-card>
</div>
<div *ngIf="utente.type===0">
<h1>Gestione Alunni</h1>

</div>
