<mat-stepper linear #stepper>
  <mat-step>
    <form >
      <ng-template matStepLabel>Ricerca</ng-template>
        <mat-label>Informazioni Personali</mat-label>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Docente</mat-label>
            <input matInput
                 aria-label="State"
                 [matAutocomplete]="auto"
                 [formControl]="stateCtrl"
                 >
              <mat-autocomplete #auto="matAutocomplete" >
                <mat-option *ngFor="let docente of filteredDocenti | async" [value]="docente.id" >
                  <span>{{docente.nome}}  {{docente.cognome}}</span> |
                  <small>Id: {{docente.id}}</small>
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>
        </p>
      <div>
        <button mat-button matStepperNext>Avanti</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Conferma</ng-template>
    <p>Confermi?</p>
    <div>
        <button mat-button matStepperPrevious>Indietro</button>
        <button mat-button (click)="removeDocente()">Confermo</button>
    </div>
  </mat-step>
</mat-stepper>
