<mat-stepper linear #stepper>
  <mat-step>
    <form >
      <ng-template matStepLabel>Ricerca</ng-template>
        <mat-label>Corso</mat-label>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Corso</mat-label>
            <input matInput
                 aria-label="State"
                 [matAutocomplete]="auto"
                 [formControl]="stateCtrl"
                 >
              <mat-autocomplete #auto="matAutocomplete" >
                <mat-option *ngFor="let corso of filteredCorsi | async" [value]="corso.id" >
                  <span>{{corso.titolo}} </span> |
                  <small>Id: {{corso.id}}</small>
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>
        </p>
      <div>
        <button mat-button matStepperNext (click)="tryvalue()">Avanti</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Conferma</ng-template>
    <p>Confermi?</p>
    <div>
        <button mat-button matStepperPrevious>Indietro</button>
        <button mat-button (click)="removeCorso()">Confermo</button>
    </div>
  </mat-step>
</mat-stepper>
