.dashboard-container {
  padding: 24px;
}
.first-line{
  display: flex;
  flex-direction: column;
  .title{
    font-size: 28px;
    font-weight: 600;
  }
  .subtitle{
    font-size: 18px;
    font-weight: 400;
  }
  margin-bottom: 30px;
}
.welcome-card {
  margin-bottom: 24px;
}

.welcome-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-content h1 {
  margin: 0;
}

.welcome-content p {
  margin: 4px 0 0;
  color: #666;
}

.welcome-icon {
  font-size: 64px;
  width: 64px;
  height: 64px;
}

.stats-grid {
  display: grid;
  gap: 20px;
  margin-bottom: 24px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.stat-card {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  height: 80px;
  padding: 10px;
  .stat-media{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.stat-card mat-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.stat-card h2 {
  margin: 0;
  font-size: 28px;
}

.content-grid {
  display: grid;
  gap: 24px;
  margin-bottom: 24px;
  grid-template-columns: 2fr 1fr;
}

.chart-card {
  min-height: 400px;
}

.chart-container {
  height: 350px;
}

table {
  width: 100%;
}

@media (max-width: 900px) {

  .content-grid {
    grid-template-columns: 1fr;
  }

}