<ngx-spinner type="ball-scale-multiple" bdColor="#C5DFF8" color="#4A55A2"></ngx-spinner>
<div class="body">
  <div class="toolbar">
    <mat-toolbar>
      <div class="first-elem-div">
        <mat-icon class="menu-icon"(click)="ShowMenu()">menu</mat-icon>
        <mat-icon class="school-icon">school</mat-icon>
        <div class="titleAndSub">
          <span class="title">
            Istruzione
          </span>
          <span class="subtitle">
            Portale scolastico
          </span>
        </div>
      </div>
      <span class="example-spacer"></span>
      <span class="user">
        <mat-icon (click)="goTo(0)">person</mat-icon>
      </span>
      <span class="user">
        <mat-icon (click)="logOut()">logout</mat-icon>
      </span>
    </mat-toolbar>
  </div>
  <div class="views">
    <div class="contentr">
      <mat-drawer-container class="content">
        @if(showmenu){
          <mat-drawer mode="side" opened class="sidebar">
            <mat-list class="list-menu">
              <mat-list-item [ngClass]="{'active': selected === 0}"
              (click)="goTo(0)"
              >
                <div class="first-elem-div">
                  @switch (role) {
                    @case ('preside') {
                      <mat-icon class="side-menu-icon">analytics</mat-icon>
                    }
                    @case ('alunno'){
                      <mat-icon class="side-menu-icon">space_dashboard</mat-icon>
                    }
                    @case('docente'){
                      <mat-icon class="side-menu-icon">dashboard</mat-icon>
                    }
                  }
                    <span class="subtitle">
                      Dashboard
                    </span>
                </div>
              </mat-list-item>
              @if(role === 'preside'){
                <mat-list-item [ngClass]="{'active': selected === 6}"
                (click)="goTo(6)"
                >
                  <div class="first-elem-div">
                        <mat-icon class="side-menu-icon">group</mat-icon>
                      <span class="subtitle">
                        Alunni
                      </span>
                  </div>
                </mat-list-item>
                <mat-list-item [ngClass]="{'active': selected === 7}"
                (click)="goTo(7)">
                  <div class="first-elem-div">
                        <mat-icon class="side-menu-icon">person</mat-icon>
                      <span class="subtitle">
                        Docenti
                      </span>
                  </div>
                </mat-list-item>
                <mat-list-item  [ngClass]="{'active': selected === 8}" (click)="goTo(8)">
                  <div class="first-elem-div">
                        <mat-icon class="side-menu-icon">school</mat-icon>
                      <span class="subtitle">
                        Classi
                      </span>
                  </div>
                </mat-list-item>
                <mat-list-item  [ngClass]="{'active': selected === 5}" (click)="goTo(5)">
                  <div class="first-elem-div">
                        <mat-icon class="side-menu-icon">book</mat-icon>
                      <span class="subtitle">
                        Corsi
                      </span>
                  </div>
                </mat-list-item>
                <mat-list-item [ngClass]="{'active': selected === 1}" (click)="goTo(1)">
                  <div class="first-elem-div">
                        <mat-icon class="side-menu-icon">list_alt</mat-icon>
                      <span class="subtitle">
                        Registro
                      </span>
                  </div>
                </mat-list-item>
                <mat-list-item [ngClass]="{'active': selected === 4}" (click)="goTo(4)">
                  <div class="first-elem-div">
                        <mat-icon class="side-menu-icon">list_alt</mat-icon>
                      <span class="subtitle">
                        Pagelle
                      </span>
                  </div>
                </mat-list-item>
              }
              @else if (role === 'docente') {
                <mat-list-item>
                  <div class="first-elem-div">
                        <mat-icon class="side-menu-icon">school</mat-icon>
                      <span class="subtitle">
                        Le mie classi
                      </span>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <div class="first-elem-div">
                        <mat-icon class="side-menu-icon">assignment</mat-icon>
                      <span class="subtitle">
                        Registro di Classe
                      </span>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <div class="first-elem-div">
                        <mat-icon class="side-menu-icon">event_upcoming</mat-icon>
                      <span class="subtitle">
                        Appelli
                      </span>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <div class="first-elem-div">
                        <mat-icon class="side-menu-icon">book</mat-icon>
                      <span class="subtitle">
                        Corsi
                      </span>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <div class="first-elem-div">
                        <mat-icon class="side-menu-icon">edit_square</mat-icon>
                      <span class="subtitle">
                        Voti
                      </span>
                  </div>
                </mat-list-item>
              }
              @else if (role === 'alunno') {
                <mat-list-item [ngClass]="{'active': selected === 1}"
              (click)="goTo(1)">
                  <div class="first-elem-div">
                        <mat-icon class="side-menu-icon">school</mat-icon>
                      <span class="subtitle">
                        La mia classe
                      </span>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <div class="first-elem-div">
                        <mat-icon class="side-menu-icon">assignment</mat-icon>
                      <span class="subtitle">
                        Registro di Classe
                      </span>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <div class="first-elem-div">
                        <mat-icon class="side-menu-icon">event_upcoming</mat-icon>
                      <span class="subtitle">
                        Orario
                      </span>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <div class="first-elem-div">
                        <mat-icon class="side-menu-icon">book</mat-icon>
                      <span class="subtitle">
                        Compiti
                      </span>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <div class="first-elem-div">
                        <mat-icon class="side-menu-icon">analytics</mat-icon>
                      <span class="subtitle">
                        Voti
                      </span>
                  </div>
                </mat-list-item>
              }
              <mat-divider></mat-divider>
            </mat-list>
          </mat-drawer>
        }
        <mat-drawer-content style="padding: 20px; height: calc(100% - 40px)!important;">
            <router-outlet></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
</div>
