<ngx-spinner type="ball-scale-multiple" bdColor="#C5DFF8" color="#4A55A2"></ngx-spinner>
<div class="body">
  <div class="toolbar">
    <mat-toolbar>
      <span *ngIf="mobile">
        <mat-icon (click)="ShowMenu()">menu</mat-icon>
      </span>
      <span>TESI MFE ISTRUZIONE</span>
      <span class="example-spacer"></span>
      <span class="user">
        <mat-icon (click)="goTo(0)">person</mat-icon>
      </span>
      <span class="user">
        <mat-icon (click)="logOut()">logout</mat-icon>
      </span>
    </mat-toolbar>
  </div>
  <div class="views">
    <div class="contentr">
      <mat-drawer-container class="content">
        <mat-drawer mode="side" opened class="sidebar" *ngIf="showmenu">
          <mat-list *ngIf="mobile" class="close-button">
            <mat-list-item class="close-icon" (click)="showmenu=false">
              <span><mat-icon>close</mat-icon></span>
            </mat-list-item>
          </mat-list>
          <mat-list *ngIf="type!==0" class="side-list">
            <mat-list-item (click)="goTo(1)" [ngClass]="{'activated':selected===1}"><span>Registro</span></mat-list-item>
            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
            <mat-list-item (click)="goTo(3)" [ngClass]="{'activated':selected===3}" *ngIf="type===1"><span>Docenti</span></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="goTo(4)" [ngClass]="{'activated':selected===4}"><span>Pagelle</span></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="goTo(5)" [ngClass]="{'activated':selected===5}"><span>Corsi</span></mat-list-item>
          </mat-list>
          <mat-list *ngIf="type===0" class="side-list">
            <mat-list-item (click)="goTo(6)" [ngClass]="{'activated':selected===6}"><span>Alunni</span></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="goTo(8)" [ngClass]="{'activated':selected===5}"><span>Corsi</span></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="goTo(7)" [ngClass]="{'activated':selected===7}"><span>Docenti</span></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="goTo(4)" [ngClass]="{'activated':selected===4}"><span>Pagelle</span></mat-list-item>
          </mat-list>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
</div>
