<h1>Gestione Alunni</h1>

<mat-accordion>
  <mat-expansion-panel (closed)="showadd=true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Aggiungi Alunno
      </mat-panel-title>
      <mat-panel-description>
        Aggiungi un nuovo alunno
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="adding">
    <button mat-raised-button color="primary" *ngIf="showadd" (click)="showadd=false">Aggiungi</button>
    <div *ngIf="showadd===false">
      <istruzione-insert-alunno></istruzione-insert-alunno>
    </div>
  </div>
  </mat-expansion-panel>
  <mat-expansion-panel (closed)="showupdate=true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Modifica Alunno
      </mat-panel-title>
      <mat-panel-description>
        Modifica un campo di un alunno
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="modify">
      <button mat-raised-button color="primary" *ngIf="showupdate" (click)="showupdate=false;">Modifica</button>
      <div *ngIf="showupdate===false">

        <istruzione-modifica-alunno></istruzione-modifica-alunno>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (closed)="showremove=true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Rimuovi Alunno
      </mat-panel-title>
      <mat-panel-description>
        Rimozione di un alunno
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="remove">
      <button mat-raised-button color="primary" *ngIf="showremove" (click)="showremove=false">Rimuovi</button>
      <div *ngIf="showremove===false">
        istruzione-remove-alunno /istruzione-remove-alunno
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
