<h1>Compiti Assegnati</h1>
<mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false" *ngFor="let item of getCompiti()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Assegno  {{getCorso(item.corso)}}
        </mat-panel-title>
        <mat-panel-description>
          {{item.data}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{item.description}}
    </mat-expansion-panel>
  </mat-accordion>
